In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
fed_rate = "./Resources/FEDFUNDS.csv"
fed_df = pd.read_csv(fed_rate)
fed_df.head()

        DATE  FEDFUNDS
0   7/1/1954      0.80
1   8/1/1954      1.22
2   9/1/1954      1.06
3  10/1/1954      0.85
4  11/1/1954      0.83

In [4]:
tenyr_rate = "./Resources/GS10.csv"
tenyr_df = pd.read_csv(tenyr_rate)
tenyr_df.head()

         DATE  GS10
0  1953-04-01  2.83
1  1953-05-01  3.05
2  1953-06-01  3.11
3  1953-07-01  2.93
4  1953-08-01  2.95