In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
fed_rate = "./Resources/FEDFUNDS.csv"
fed_df = pd.read_csv(fed_rate)
fed_df.head()

        DATE  FEDFUNDS
0   7/1/1954      0.80
1   8/1/1954      1.22
2   9/1/1954      1.06
3  10/1/1954      0.85
4  11/1/1954      0.83

In [4]:
tenyr_rate = "./Resources/GS10.csv"
tenyr_df = pd.read_csv(tenyr_rate)
tenyr_df.head()

         DATE  GS10
0  1953-04-01  2.83
1  1953-05-01  3.05
2  1953-06-01  3.11
3  1953-07-01  2.93
4  1953-08-01  2.95

In [5]:
gdp_data = "./Resources/GDP_data.csv"
gdp_df = pd.read_csv(gdp_data)
gdp_df.head()

        DATE      GDP  Growth   %age  Recession
0   1/1/1947  243.164      NaN   NaN         NaN
1   4/1/1947  245.968    2.804  1.2%         0.0
2   7/1/1947  249.585    3.617  1.5%         0.0
3  10/1/1947  259.745   10.160  4.1%         0.0
4   1/1/1948  265.742    5.997  2.3%         0.0

In [11]:
merge_table = pd.merge(fed_df, gdp_df, on="DATE")
merge_table.head(5)

        DATE  FEDFUNDS      GDP  Growth   %age  Recession
0   7/1/1954      0.80  390.996    4.875  1.3%         0.0
1  10/1/1954      0.85  399.734    8.738  2.2%         0.0
2   1/1/1955      1.39  413.073   13.339  3.3%         0.0
3   4/1/1955      1.43  421.532    8.459  2.0%         0.0
4   7/1/1955      1.68  430.221    8.689  2.1%         0.0

In [20]:
merge_table2 = pd.merge(tenyr_df, gdp_df, on="DATE")
merge_table2.head(5)

        DATE  GS10      GDP  Growth    %age  Recession
0 1953-04-01  2.83  391.749    3.769   1.0%         0.0
1 1953-07-01  2.93  391.171   -0.578  -0.1%         0.0
2 1953-10-01  2.66  385.970   -5.201  -1.3%         1.0
3 1954-01-01  2.48  385.345   -0.625  -0.2%         1.0
4 1954-04-01  2.29  386.121    0.776   0.2%         0.0

In [13]:
gdp_df.dtypes

DATE           object
GDP           float64
Growth        float64
%age           object
Recession     float64
dtype: object

In [19]:
gdp_df['DATE'] = pd.to_datetime(gdp_df['DATE'])
tenyr_df['DATE'] = pd.to_datetime(tenyr_df['DATE'])
fed_df['DATE'] = pd.to_datetime(fed_df['DATE'])


fed_df.dtypes

DATE        datetime64[ns]
FEDFUNDS           float64
dtype: object

In [24]:
sql_table = pd.merge(fed_df, merge_table2, on="DATE")
sql_table.head(5)

        DATE  FEDFUNDS  GS10      GDP  Growth   %age  Recession
0 1954-07-01      0.80  2.30  390.996    4.875  1.3%         0.0
1 1954-10-01      0.85  2.43  399.734    8.738  2.2%         0.0
2 1955-01-01      1.39  2.61  413.073   13.339  3.3%         0.0
3 1955-04-01      1.43  2.75  421.532    8.459  2.0%         0.0
4 1955-07-01      1.68  2.90  430.221    8.689  2.1%         0.0

In [26]:
sql_table['spread'] = sql_table['GS10'] - sql_table['FEDFUNDS']
sql_table.head(5)

        DATE  FEDFUNDS  GS10      GDP  Growth   %age  Recession   spread
0 1954-07-01      0.80  2.30  390.996    4.875  1.3%         0.0    1.50
1 1954-10-01      0.85  2.43  399.734    8.738  2.2%         0.0    1.58
2 1955-01-01      1.39  2.61  413.073   13.339  3.3%         0.0    1.22
3 1955-04-01      1.43  2.75  421.532    8.459  2.0%         0.0    1.32
4 1955-07-01      1.68  2.90  430.221    8.689  2.1%         0.0    1.22