In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
fed_rate = "./Resources/FEDFUNDS.csv"
fed_df = pd.read_csv(fed_rate)
fed_df.head()

        DATE  FEDFUNDS
0   7/1/1954      0.80
1   8/1/1954      1.22
2   9/1/1954      1.06
3  10/1/1954      0.85
4  11/1/1954      0.83

In [4]:
tenyr_rate = "./Resources/GS10.csv"
tenyr_df = pd.read_csv(tenyr_rate)
tenyr_df.head()

         DATE  GS10
0  1953-04-01  2.83
1  1953-05-01  3.05
2  1953-06-01  3.11
3  1953-07-01  2.93
4  1953-08-01  2.95

In [5]:
gdp_data = "./Resources/GDP_data.csv"
gdp_df = pd.read_csv(gdp_data)
gdp_df.head()

        DATE      GDP  Growth   %age  Recession
0   1/1/1947  243.164      NaN   NaN         NaN
1   4/1/1947  245.968    2.804  1.2%         0.0
2   7/1/1947  249.585    3.617  1.5%         0.0
3  10/1/1947  259.745   10.160  4.1%         0.0
4   1/1/1948  265.742    5.997  2.3%         0.0

In [11]:
merge_table = pd.merge(fed_df, gdp_df, on="DATE")
merge_table.head(5)

        DATE  FEDFUNDS      GDP  Growth   %age  Recession
0   7/1/1954      0.80  390.996    4.875  1.3%         0.0
1  10/1/1954      0.85  399.734    8.738  2.2%         0.0
2   1/1/1955      1.39  413.073   13.339  3.3%         0.0
3   4/1/1955      1.43  421.532    8.459  2.0%         0.0
4   7/1/1955      1.68  430.221    8.689  2.1%         0.0

In [20]:
merge_table2 = pd.merge(tenyr_df, gdp_df, on="DATE")
merge_table2.head(5)

        DATE  GS10      GDP  Growth    %age  Recession
0 1953-04-01  2.83  391.749    3.769   1.0%         0.0
1 1953-07-01  2.93  391.171   -0.578  -0.1%         0.0
2 1953-10-01  2.66  385.970   -5.201  -1.3%         1.0
3 1954-01-01  2.48  385.345   -0.625  -0.2%         1.0
4 1954-04-01  2.29  386.121    0.776   0.2%         0.0

In [13]:
gdp_df.dtypes

DATE           object
GDP           float64
Growth        float64
%age           object
Recession     float64
dtype: object

In [19]:
gdp_df['DATE'] = pd.to_datetime(gdp_df['DATE'])
tenyr_df['DATE'] = pd.to_datetime(tenyr_df['DATE'])
fed_df['DATE'] = pd.to_datetime(fed_df['DATE'])


fed_df.dtypes

DATE        datetime64[ns]
FEDFUNDS           float64
dtype: object

In [22]:
merge_table3 = pd.merge(fed_df, merge_table2, on="DATE")
merge_table3.head(500)

          DATE  FEDFUNDS  GS10        GDP  Growth    %age  Recession
0   1954-07-01      0.80  2.30    390.996    4.875   1.3%         0.0
1   1954-10-01      0.85  2.43    399.734    8.738   2.2%         0.0
2   1955-01-01      1.39  2.61    413.073   13.339   3.3%         0.0
3   1955-04-01      1.43  2.75    421.532    8.459   2.0%         0.0
4   1955-07-01      1.68  2.90    430.221    8.689   2.1%         0.0
5   1955-10-01      2.24  2.88    437.092    6.871   1.6%         0.0
6   1956-01-01      2.45  2.90    439.746    2.654   0.6%         0.0
7   1956-04-01      2.62  3.18    446.010    6.264   1.4%         0.0
8   1956-07-01      2.75  3.11    451.191    5.181   1.2%         0.0
9   1956-10-01      2.96  3.34    460.463    9.272   2.1%         0.0
10  1957-01-01      2.84  3.46    469.779    9.316   2.0%         0.0
11  1957-04-01      3.00  3.48    472.025    2.246   0.5%         0.0
12  1957-07-01      2.99  3.93    479.490    7.465   1.6%         0.0
13  1957-10-01      3.50  3.97    474.864   -4.626  -1.0%         0.0
14  1958-01-01      2.72  3.09    467.540   -7.324  -1.5%         1.0
15  1958-04-01      1.26  2.88    471.978    4.438   0.9%         0.0
16  1958-07-01      0.68  3.20    485.841   13.863   2.9%         0.0
17  1958-10-01      1.80  3.80    499.555   13.714   2.8%         0.0
18  1959-01-01      2.48  4.02    510.330   10.775   2.2%         0.0
19  1959-04-01      2.96  4.12    522.653   12.323   2.4%         0.0
20  1959-07-01      3.47  4.40    525.034    2.381   0.5%         0.0
21  1959-10-01      3.98  4.53    528.600    3.566   0.7%         0.0
22  1960-01-01      3.99  4.72    542.648   14.048   2.7%         0.0
23  1960-04-01      3.92  4.28    541.080   -1.568  -0.3%         0.0
24  1960-07-01      3.23  3.90    545.604    4.524   0.8%         0.0
25  1960-10-01      2.47  3.89    540.197   -5.407  -1.0%         0.0
26  1961-01-01      1.45  3.84    545.018    4.821   0.9%         0.0
27  1961-04-01      1.49  3.78    555.545   10.527   1.9%         0.0
28  1961-07-01      1.17  3.92    567.664   12.119   2.2%         0.0
29  1961-10-01      2.26  3.92    580.612   12.948   2.3%         0.0
..         ...       ...   ...        ...      ...    ...         ...
231 2012-04-01      0.14  2.05  16152.257  132.499   0.8%         0.0
232 2012-07-01      0.16  1.53  16257.151  104.894   0.6%         0.0
233 2012-10-01      0.16  1.75  16358.863  101.712   0.6%         0.0
234 2013-01-01      0.14  1.91  16569.591  210.728   1.3%         0.0
235 2013-04-01      0.15  1.76  16637.926   68.335   0.4%         0.0
236 2013-07-01      0.09  2.58  16848.748  210.822   1.3%         0.0
237 2013-10-01      0.09  2.62  17083.137  234.389   1.4%         0.0
238 2014-01-01      0.07  2.86  17104.555   21.418   0.1%         0.0
239 2014-04-01      0.09  2.71  17432.909  328.354   1.9%         0.0
240 2014-07-01      0.09  2.54  17721.657  288.748   1.7%         0.0
241 2014-10-01      0.09  2.30  17849.912  128.255   0.7%         0.0
242 2015-01-01      0.11  1.88  17984.178  134.266   0.8%         0.0
243 2015-04-01      0.12  1.94  18219.405  235.227   1.3%         0.0
244 2015-07-01      0.13  2.32  18344.713  125.308   0.7%         0.0
245 2015-10-01      0.12  2.07  18350.825    6.112   0.0%         0.0
246 2016-01-01      0.34  2.09  18424.283   73.458   0.4%         0.0
247 2016-04-01      0.37  1.81  18637.253  212.970   1.2%         0.0
248 2016-07-01      0.39  1.50  18806.743  169.490   0.9%         0.0
249 2016-10-01      0.40  1.76  18991.883  185.140   1.0%         0.0
250 2017-01-01      0.65  2.43  19190.431  198.548   1.0%         0.0
251 2017-04-01      0.90  2.30  19356.649  166.218   0.9%         0.0
252 2017-07-01      1.15  2.32  19611.704  255.055   1.3%         0.0
253 2017-10-01      1.15  2.36  19918.910  307.206   1.6%         0.0
254 2018-01-01      1.41  2.58  20163.159  244.249   1.2%         0.0
255 2018-04-01      1.69  2.87  20510.177  347.018   1.7%         0.0
256 2018-07-01      1.91  2.89  20749.752  239.575   1.2%         0.0
257 2018-10-01      2.19  3.15  20897.804  148.052   0.7%         0.0
258 2019-01-01      2.40  2.71  21098.827  201.023   1.0%         0.0
259 2019-04-01      2.42  2.53  21340.267  241.440   1.1%         0.0
260 2019-07-01      2.40  2.06  21542.540  202.273   0.9%         0.0

[261 rows x 7 columns]