In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
fed_rate = "./Resources/FEDFUNDS.csv"
fed_df = pd.read_csv(fed_rate)
fed_df.head()

        DATE  FEDFUNDS
0   7/1/1954      0.80
1   8/1/1954      1.22
2   9/1/1954      1.06
3  10/1/1954      0.85
4  11/1/1954      0.83